/* Here is your custom css styles. */
@font-face{
    font-family: 'YaHeiMonacoHybrid';
    src: url('../font/YaHeiMonacoHybrid.ttf');
}

body{
    font-family: 'YaHeiMonacoHybrid';
}


hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* 外挂标签 */
.uk-alert {
    margin-bottom: 15px;
    padding: 10px;
    background: #ebf7fd;
    color: #2d7091;
    border: 1px solid rgba(45, 112, 145, 0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
}
.uk-alert-success {
    background: #ebf9ed;
    color: #3cba92;
    border-left: 6px solid rgba(25, 202, 189);
    font-weight: 600;
}
.uk-alert-warning {
    background: #fff1f0;
    color: rgb(73, 59, 156);
    border-left: 6px solid rgb(83, 27, 184, 0.3);
    font-weight: 600;
}
.uk-alert-danger {
    background: #f8f8f6;
    color: #eb360d;
    border-left: 6px solid#eb360d;
    font-weight: 600;
}


/* span */
[data-theme="dark"] span.p { filter: brightness(0.7); } 
p.p.subtitle { font-weight: bold; color: #2196f3; padding-top: 1rem; } 
p.p.subtitle:first-child { padding-top: 0.5rem; } 
span.p.code, p.p.code { font-family: Menlo, Monaco, monospace, courier, sans-serif; } 
span.p.left, p.p.left { display: block; text-align: left; } 
span.p.center, p.p.center { display: block; text-align: center; } 
span.p.right, p.p.right { display: block; text-align: right; } 
span.p.small, p.p.small { font-size: 0.575rem; } 
span.p.large, p.p.large { font-size: 2rem; line-height: 1.4; } 
span.p.huge, p.p.huge { font-size: 4rem; line-height: 1.4; } 
span.p.ultra, p.p.ultra { font-size: 6rem; line-height: 1.4; } 
span.p.small, 
p.p.small, 
span.p.large, 
p.p.large, 
span.p.huge, 
p.p.huge, span,
p.ultra, 
p.p.ultra { 
    font-family: UbuntuMono, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif; 
    margin: 0; 
    padding: 0; 
} 
span.p.bold, p.p.bold { font-weight: bold; } span.p.h1, p.p.h1 { font-size: 1.625rem; color: #555; padding-top: 1rem; } 
span.p.h2, p.p.h2 { font-size: 1.375rem; color: var(--font-color); padding-top: 1rem; border-bottom: 1px solid var(--hr-border); } 
span.p.h3, p.p.h3 { font-size: 1.25rem; color: #2196f3; padding-top: 1rem; } 
span.p.h4, p.p.h4 { font-size: 1.125rem; color: #555; padding-top: 1rem; } 
span.p.red, p.p.red { color: #fe5f58; background-color: transparent !important; } 
span.p.yellow, p.p.yellow { color: #ffbd2b; background-color: transparent !important; } 
span.p.green, p.p.green { color: #3dc550; background-color: transparent !important; } 
span.p.cyan, p.p.cyan { color: #1bcdfc; background-color: transparent !important; } 
span.p.blue, p.p.blue { color: #2196f3; background-color: transparent !important; } 
span.p.gray, p.p.gray { color: #666; background-color: transparent !important; }