/* Here is your custom css styles. */
@font-face{
    font-family: 'YaHeiMonacoHybrid';
    src: url('../font/YaHeiMonacoHybrid.ttf');
}

body{
    font-family: 'YaHeiMonacoHybrid';
}


hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* 外挂标签 */
.uk-alert {
    margin-bottom: 15px;
    padding: 10px;
    background: #ebf7fd;
    color: #2d7091;
    border: 1px solid rgba(45, 112, 145, 0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
}
.uk-alert-success {
    background: #ebf9ed;
    color: #3cba92;
    border-left: 6px solid rgba(25, 202, 189);
    font-weight: 600;
}
.uk-alert-warning {
    background: #fff1f0;
    color: rgb(73, 59, 156);
    border-left: 6px solid rgb(83, 27, 184, 0.3);
    font-weight: 600;
}
.uk-alert-danger {
    background: #feefee;
    color: #eb360d;
    border-left: 6px solid#eb5f58;
    font-weight: 600;
}

