/* Here is your custom css styles. */
@font-face{
    font-family: 'YaHeiMonacoHybrid';
    src: url('../font/YaHeiMonacoHybrid.ttf');
}

body{
    font-family: 'YaHeiMonacoHybrid';
}


hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}